<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
</head>

<body>
  <div id="container">
    <h1 id="login-header">Please login to enter:</h1>
    <form action="/login" method="post" id="login-form">
      <h2 id="username-label">Username:</h2>
      <input type="text" class="form-input" name="username" placeholder="username">
      <h2 id="password-label">Password:</h2>
      <input type="password" class="form-input" name="password" placeholder="password">
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>

</body>

</html>